@import "../../styles/variables";
@import "../../styles/mixins";

.catalog {
  margin-top: 50px;
  &__container {
    display: flex;
    gap: 30px;
flex-direction: column;
    @include on-tablet {
   
    }

    @include on-mid-desktop {
     flex-direction: row;
    }

  @include on-desktop {
    flex-direction: row;
  }

  }

  &__sidebar {
    // width: 100%; // Фиксированная ширина для сайдбара
    // max-width: 250px;
  display: flex;
  flex-direction: row;
    @include on-tablet {
   
    }

    @include on-mid-desktop {
      flex: 0 0 250px;
      max-width: 250px;
    }

  @include on-desktop {
    
  }
  }

  &__shopItems {
    flex: 1; // Занимает оставшееся пространство
  }
}
