@import "../../styles/variables";
@import "../../styles/mixins";

.consultation {
  background: linear-gradient(to top, #3a7c9d, #ffffff);
  position: relative;
  padding: 50px 20px;
  border-radius: 24px 24px 0 0;
  overflow: hidden;

  &__container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-bottom: 20px;

    @include on-tablet {
      font-size: 36px;
    }

    @include on-desktop {
      font-size: 42px;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4e4771;
    @include on-tablet {
      font-size: 18px;
    }

    @include on-desktop {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__input {
    width: 100%;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    transition: box-shadow 0.3s ease;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: $first-primary-color;
    @include on-tablet {
      font-size: 14px;
      line-height: 30px;
    }
    @include on-mid-desktop {
      font-size: 15px;
    }
    @include on-desktop {
      font-size: 16px;
      line-height: 40px;
    }
    &:focus {
      box-shadow: 0 0 10px rgba(120, 111, 196, 0.5);
      border-color: $second-primary-color;
    }
  }

  &__button {
    padding: 15px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(
      to right,
      $second-primary-color,
      $first-primary-color
    );
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    @include on-tablet {
      font-size: 13px;
      @include on-mid-desktop {
        font-size: 15px;
      }
      @include on-desktop {
        font-size: 16px;
      }
      &:hover {
        background-color: darken($second-primary-color, 10%);
        box-shadow: 0 4px 15px rgba(120, 111, 196, 0.5);
      }
    }
  }
}
