@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.woff2") format("woff2"),
       url("/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oddval';
  src: url("/fonts/Oddval-SemiBold.woff2") format("woff2"),
       url("/fonts/Oddval-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

