@import "../../styles/variables";
@import "../../styles/mixins";

.cards {
  background-color: $background-first;
  padding: 15px 18px 20px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  @include on-tablet {
    padding: 60px 65px 80px;
  }
  @include on-desktop {
    padding: 39px 90px 80px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 520px;
    transition: height 0.3s ease-in-out;

    &.show-all {
      height: auto;
      overflow-y: visible;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
    padding-top: 120px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    @include on-tablet {
      justify-content: center;
      gap: 85px;
    }
    @include on-mid-desktop {
      justify-content: space-between;
    }

    @include on-desktop {
      gap: 20px;
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }

  &__arrow {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    @include on-desktop {
      display: block;
    }

    &--left {
      left: 0;

      @include on-desktop {
        left: 35px;
      }
    }

    &--right {
      right: 0;

      @include on-desktop {
        right: 35px;
      }
    }

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &__show-all {
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    &-btn {
      width: 150px;
      height: 44px;
      background-color: $second-primary-color;
      border-radius: 34px;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.3s;
      border: 1px solid $second-primary-color;
      &:hover {
        background-color: darken($second-primary-color, 10%);
      }
    }

    @include on-desktop {
      display: none;
    }
  }
}
