@import "../../styles/variables";
@import "../../styles/mixins";

.basketPage {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(to bottom right, #a6a0cf, #ffffff);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  &__empty {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: $second-primary-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: fadeIn 0.5s ease-in-out;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px; /* Максимальная высота контейнера */
  min-height: 150px; /* Минимальная высота */
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin; /* Для стилизации скроллбара */
  scrollbar-color: #ccc #f9f9f9;
  }

  &__item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    color: $first-primary-color;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    color: #000;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 8px;

    .basketPage__counter {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $first-primary-color;
      color: #fff;
      border: none;
      border-radius: 100%;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        background: lighten($first-primary-color, 10%);
      }
    }

    .basketPage__count {
      color: $first-primary-color;
      font-size: 17px;
      font-weight: 600;
      line-height: 28.8px;
      text-align: left;
      span {
        font-size: 15px;
      }
    }
  }

  &__remove {
    background: none;
    border: none;
    font-size: 20px;
    color: $second-primary-color;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__total,
  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background:$second-primary-color;
    color: #fff;
    border-radius: 12px;

    &--text {
      font-size: 20px;
      font-weight: 600;
      @include on-tablet {
        font-size: 23px;
      }
      @include on-mid-desktop {
        font-size: 24px;
      }
      @include on-desktop {
        font-size: 23px;
      }
    }

    &--value {
      font-size: 23px;
      font-weight: 700;
      @include on-tablet {
        font-size: 24px;
      }
    }
  }

  &__order {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 auto;
    display: block;
    width: 200px;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;
    @include on-tablet {
      width: 300px;
    }
    &:hover {
      transform: scale(1.05);
      background: linear-gradient(
        to right,
        lighten($second-primary-color, 10%),
        lighten($first-primary-color, 10%)
      );
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
