@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  background-color: #fff;
  border-radius: 16px;
  // box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15), /* тень сверху */
  //           -4px 0px 8px rgba(0, 0, 0, 0.15), /* тень слева */
  //            4px 0px 8px rgba(0, 0, 0, 0.15); /* тень справа */

  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 290px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  height: 390px;
  @include on-desktop {
    width: 266px;
    height: 393px;
  }
  &__image {
    width: 220px;
      height: 180px;
    object-fit: cover;
    transform: translateY(-40%);
    position: relative;
    top: 5px;
    left: 13%;
    @include on-tablet {
      
    }
    @include on-desktop {
      width: 100%;
      height: auto;
      top: auto;
    left: auto;
    }
  }

  &__content {
    padding: 20px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    margin-bottom: 16px;
    transform: translateY(-85%);

    &--title {
      color: $first-primary-color;
      font-size: 17px;
      font-weight: 600;
      margin: 0 0 8px 0;
      &::after {
        content: "";
        position: absolute;
        top: -210px;
    right: -30px;
        width: 45px;
        height: 45px;
        background: url("../../../public/images/product/productCategory.svg")
          no-repeat center / contain;
        z-index: 999;
        @include on-tablet {
          top: -220px;
          width: 55px;
        height: 55px;
        }
        @include on-desktop {
          top: -168px;
    right: -30px;
         }
      }
      @include on-tablet {
     
      }
      @include on-desktop {
       font-size: 18px;
       font-weight: 700;
      }
    }

    &--subtitle {
      font-size: 13.2px;
      font-weight: 400;
      color: $first-primary-color;
      margin: 0;
    }
  }

  &__price {
    font-size: 17.6px;
    font-weight: 800;
    color: $first-primary-color;
    margin: 0 0 16px 0;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--btn {
      position: relative;
      width: 150px;
      height: 44px;
      background-color: $second-primary-color;
      border: 1px solid $second-primary-color;
      border-radius: 34px;
      text-decoration: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 15px;
        width: 22px;
        height: 23px;
        background: url("../../../public/images/icons/basket2.svg") no-repeat
          center / contain;
      }
      &:hover {
        background-color: darken($second-primary-color, 10%);
      }
    
      &.in-basket {
        background-color: #e0e0e0; // Серый цвет для состояния "У кошику"
        cursor: not-allowed; // Изменяем курсор
        border: 1px solid $background-first;
      }
    }

    &--wishlist {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #faf0f1;
      display: flex;
      justify-content: center;
      align-items: center;

      &--heart {
        width: 22px;
        height: 20px;
      }
    }
  }
}
