// @import "../../styles/variables";
// @import "../../styles/mixins";

// .shopItems {
//   width: 100%;
//   padding: 20px 0;
//   margin: 0 auto;
//   margin-bottom: 100px;
//   &__header {
//     display: flex;
//     gap: 20px;
//     flex-direction: row;
//     justify-content: space-between;
//     margin-bottom: 20px;
//     @include on-tablet {
//       flex-direction: row;
//     }
//     @include on-mid-desktop {
//       flex-direction: column;
//       justify-content: start;
//     }
//     @include on-desktop {
//       flex-direction: column;
//       justify-content: start;
//     }
//   }

//   &__title {
//     font-size: 20px;
//     font-weight: 700;
//     line-height: 18.48px;
//     color: $first-primary-color;
//   }

//   &__controls {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     width: 300px;
//     @include on-tablet {
//       flex-direction: column;
//       width: 400px;
//     }
//     @include on-mid-desktop {
//       flex-direction: row;
//       width: auto;
//     }
//     @include on-desktop {
//       flex-direction: row;
//       width: auto;
//     }
//   }

//   &__control {
//     background: none;
//     border: 1px solid #0102093d;
//     border-radius: 16px;
//     padding: 8px;
//     font-size: 14px;
//     font-weight: 500;
//     cursor: pointer;
//     color: $second-primary-color;
//     transition: background 0.3s, color 0.3s;
//     position: relative;
//     @include on-tablet {
//     }
//     @include on-mid-desktop {
//       padding: 8px 50px 8px 36px;
//     }
//     @include on-desktop {
//       padding: 8px 50px 8px 36px;
//     }
//     &.active {
//       background: #fff;
//       color: $first-primary-color;
//     }

//     &:hover {
//       background: #d0e8ea;
//     }

//     &:not(:first-child)::after {
//       content: "";
//       background-image: url(../../../public//images/icons/sort.svg);
//       background-repeat: no-repeat;
//       width: 20px;
//       height: 13px;
//       position: absolute;
//       right: 30%;
//       bottom: 10px;
//       @include on-tablet {
//         display: none;
//       }
//       @include on-mid-desktop {
//         display: block;
//         right: 20%;
//       }
//       @include on-desktop {
//         display: block;
//         right: 20%;
//         bottom: 10px;
//       }
//     }
//   }

//   &__list {
 
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     row-gap: 120px;
//     column-gap: 50px;
//     width: max-content; /* Устанавливает ширину контейнера в зависимости от содержимого */
//     margin: 0 auto;
//     margin-top: 150px;
//     justify-content: center; /* Горизонтальное выравнивание */
//     align-content: center;
// display: none;
//     @include on-tablet {
//       grid-template-columns: repeat(2, 1fr);
//     place-items: center; /* Центрирование по горизонтали и вертикали */
//     margin: 0 auto;
//     margin-top: 150px;
//     row-gap: 150px;
//     column-gap: 50px;
//     width: auto;
//     display: none;
//     }
//     @include on-mid-desktop {
//       column-gap: 30px;
//       grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
//       display: grid;
//     }
//     @include on-desktop {
//       column-gap: 30px;
//       display: grid;
//       grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
//     }
//   }
// }


// .shopItems__carousel {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
//   overflow: hidden;
//   max-height: 500px;
//   touch-action: pan-y;
//   scroll-behavior: smooth;
//   overflow-y: scroll;
//   margin-top: 100px;
//   box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.2), // Тень сверху
//             0px 10px 15px -5px rgba(0, 0, 0, 0.2);  // Тень снизу
  
//   @include on-mid-desktop {
//     display: none;
//   }
//   @include on-desktop {
//     display: none;
//   }
// }

// .shopItems__carousel--wrapper {
//   display: flex;
//   flex-direction: column;

//   height: 100%;
//   justify-content: center;
//   // position: relative;
//   padding-bottom: 50px;
//   padding-top: 150px;
//   gap: 150px;
//   @include on-tablet {
//     // display: grid;
//     // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
// flex-direction: row;
// flex-wrap: wrap;

//     // grid-template-columns: repeat(2, 1fr);
//     // gap: 150px;

//     justify-content: center;
//     align-items: center;
//   }
// }

// .shopItems__carousel--item {
//   flex: 0 0 auto;
//   border-radius: 16px;
//   // transform-style: preserve-3d;
//   // perspective: 1000px;
//   // border-radius: 16px;
//   box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
//   // padding: 10px;
//   // text-align: center;
//   transition: transform 0.3s ease, opacity 0.3s ease;
 
//   @include on-tablet {
//     // width: 100%; // Чтобы карточки равномерно распределялись
//   }
//   @include on-mid-desktop {
//     width: 100%;
//   }

//   @include on-desktop {
//     width: 100%;
//   }
// }

// .shopItems__carousel--item.active {
//   transform: scale(1.1);
//   z-index: 10;
//   opacity: 1;
// }

// .shopItems__carousel--item {
//   opacity: 0.5;
//   transform: scale(0.9) rotateX(20deg);
// }

// .shopItems__carousel--hint {
//   // position: absolute;
//   // bottom: -30px;
//   padding-top: 50px;
//   text-align: center;
//   font-size: 14px;
//   color: rgba(0, 0, 0, 0.5);
//   @include on-mid-desktop {
//     display: none;
//   }

//   @include on-desktop {
//     display: none;
//   }
// }
@import "../../styles/variables";
@import "../../styles/mixins";

.shopItems {
  width: 100%;
  // padding: 20px 0;
padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  &__header {
    display: flex;
    gap: 10px;
    flex-direction: column;
   
  margin-top: 20px;
    
    @include on-tablet {
      flex-direction: column;
    }
    @include on-mid-desktop {
margin-top: 0;
      gap: 20px;
      justify-content: start;
      align-items: start;
 
    }
    @include on-desktop {
    margin-top: 0;
      gap: 20px;
     
      justify-content: start;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 18.48px;
    color: $first-primary-color;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Скрываем элементы, выходящие за пределы */
    width: 100%;
  
    width: 300px;
    @include on-tablet {
      flex-direction: column;
      width: auto;
    }
    @include on-mid-desktop {
      flex-direction: row;
      width: auto;
    }
    @include on-desktop {
      flex-direction: row;
      width: auto;
    }
  }

  &__scroll {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Горизонтальная прокрутка */
    scroll-behavior: smooth; /* Плавная прокрутка */
    padding: 10px 0;
    @include on-tablet {
    
    }
    @include on-mid-desktop {
    
    }
    @include on-desktop {
    
    }
    /* Стили для скрытия скроллбара */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__control {
    background: none;
    border: 1px solid #0102093d;
    border-radius: 16px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: $second-primary-color;
    transition: background 0.3s, color 0.3s;
    position: relative;
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 8px 30px 8px 30px;
    @include on-tablet {
    }
    @include on-mid-desktop {
      padding: 8px 50px 8px 36px;
      
    }
    @include on-desktop {
      padding: 8px 50px 8px 36px;
    
    }
    &.active {
      background: #fff;
      color: $first-primary-color;
    }

    &:hover {
      background: #d0e8ea;
    }

    &:not(:first-child)::after {
      content: "";
      background-image: url(../../../public//images/icons/sort.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 13px;
      position: absolute;
      right: 30%;
      bottom: 10px;
      display: none;
      @include on-tablet {
        display: none;
      }
      @include on-mid-desktop {
        display: block;
        right: 20%;
      }
      @include on-desktop {
        display: block;
        right: 20%;
        bottom: 10px;
      }
    }
  }

  &__list {
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 120px;
  
    width: max-content; /* Устанавливает ширину контейнера в зависимости от содержимого */
    margin: 0 auto;
  
    justify-content: center; /* Горизонтальное выравнивание */
    align-content: center;
display: none;
    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    place-items: center; /* Центрирование по горизонтали и вертикали */
    margin: 0 auto;
  
    row-gap: 150px;
    column-gap: 50px;
    width: auto;
    display: none;
  
    }
    @include on-mid-desktop {
      column-gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
      display: grid;
      padding-top: 100px;
      margin-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
    
    }
    @include on-desktop {
      column-gap: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
      padding-top: 100px;
      margin-top: 50px;

      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


.shopItems__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 500px;
  touch-action: pan-y;
  scroll-behavior: smooth;
  overflow-y: scroll;

   // Тень снизу
   @include on-tablet {
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.2), // Тень сверху
    0px 10px 15px -5px rgba(0, 0, 0, 0.2);
    
  }
  @include on-mid-desktop {
    display: none;
  
  }
  @include on-desktop {
    display: none;
  }
}

.shopItems__carousel--wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
  // position: relative;
  padding-bottom: 50px;
  padding-top: 150px;
  gap: 150px;
  @include on-tablet {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
flex-direction: row;
flex-wrap: wrap;
padding-right: 20px;
    padding-left: 20px;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 150px;

    justify-content: center;
    align-items: center;
  }
}

.shopItems__carousel--item {
  flex: 0 0 auto;
  border-radius: 16px;
  // transform-style: preserve-3d;
  // perspective: 1000px;
  // border-radius: 16px;

  // padding: 10px;
  // text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
 
  @include on-tablet {
  // Чтобы карточки равномерно распределялись
  }
  @include on-mid-desktop {
    width: 100%;

  }

  @include on-desktop {
    width: 100%;
    
  }
}

.shopItems__carousel--item.active {
  transform: scale(1.1);
  z-index: 10;
  opacity: 1;
}

.shopItems__carousel--item {
  opacity: 0.5;
  transform: scale(0.9) rotateX(20deg);
}

.shopItems__carousel--hint {
  // position: absolute;
  // bottom: -30px;
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  @include on-mid-desktop {
    display: none;
  }

  @include on-desktop {
    display: none;
  }
}
.pagination {
display: none;
  @include on-tablet {
    display: none;
  }
  @include on-mid-desktop {
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
    padding: 20px;
    position: absolute;
    bottom: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
  }

  @include on-desktop {
   
    position: absolute;
// top: 98%;
bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
    padding: 20px;
  }
  &__button {
    background: linear-gradient(135deg, #786fc4, #170f49);
    color: white;
    border: none;
    border-radius: 16px;
    padding: 12px 24px;
   
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);

    &:hover {
    
      transform: translateY(-2px) scale(1.07);
      box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
      box-shadow: none;
      transform: none;
    }
  }

  &__info {
    
    @include on-tablet {
      // width: 100%; // Чтобы карточки равномерно распределялись
    }
    @include on-mid-desktop {
      font-size: 17px;
      font-weight: bold;
      color: #222;
      padding: 7px 7px;
      background: #f8f9fa;
      border-radius: 6px;
   
    }
  
    @include on-desktop {
      font-size: 20px;
      padding: 8px 16px;
    }
  }

  &__button--prev, &__button--next {
    min-width: 120px;
  }
}

