@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  // width: 240px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  @include on-tablet {
   
  }

  @include on-mid-desktop {
    flex-direction: column;
    justify-content: initial;
    width: 240px;
  }

@include on-desktop {
  flex-direction: column;
  justify-content: initial;
    width: 240px;
}
  &__section {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 31.68px;
    color: $first-primary-color;
    @include on-tablet {
   font-size: 14px;
    }
  
    @include on-mid-desktop {
     font-size: 17px;
    }
  
  @include on-desktop {
    font-size: 17px;
  }
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      label {
        color: $first-primary-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        @include on-tablet {
   font-size: 12px;
        }
      
        @include on-mid-desktop {
         font-size: 14px;
        }
      
      @include on-desktop {
        font-size: 14px;
        line-height: 22px;
      }
        input[type="checkbox"] {
          accent-color: #6b46c1;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 5px;

    .sidebar__input {
      width: 80px;
      padding: 5px;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }

  &__slider {
    margin-top: 10px;

    .sidebar__range {
      width: 100%;
      cursor: pointer;
    }
  }
}
